html {
    font-size: calc(15px + 0.390625vw);
    font-family: Montserrat;
}

header{
    text-align: center;

}
h1{
    text-align: center;
    font-family: Montserrat;
    font-weight: bold;
}
h2{
    text-align: center;
    font-family: Montserrat;
}
.homepagequestion {
    text-align: center;
    font-family: Montserrat;

}
.topnav {
    min-width: 100%;
    background-position: center center;
    text-align: center;
}
.topnav a{
    font-family: Montserrat; 
    font-size: 4vw;
    text-align: center;
    color: grey;
}

body{
    background-color: #D2F4EA;
    font-family: Montserrat;
}