 .container-header {
    display: grid;
    grid-template-areas: top bottom;
    grid-template-rows: 1fr 0.5fr;
}
.container-body {
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr 2fr 1fr;
}
.container-footer {
    display: grid;
    grid-template-areas: top bottom;
    grid-template-rows: 0.5fr 0.5fr;
}

.container-header-sidesite {
    display: grid;
    grid-template-areas: "titulo" "menu";
    grid-template-rows: 2fr 1.5fr;
}
.container-body-sidesite {
    display: grid;
    grid-template-areas: "ad-left" "map" "ad-right";
    grid-template-columns: 1fr 10fr 1fr;
    
}
header{
    text-align: center;

}
h1{
    text-align: center;
    font-family: sans-serif;
    font-size: 4.5vw;
    font-weight: bold;
}
h2{
    text-align: center;
    font-family: sans-serif;
    font-size: 3vw;
}
.homepagequestion {
    text-align: center;
    font-family: sans-serif;
    font-size: 2.5vw;
}
.topnav {
    max-width: 100%;
    background-position: center center;
    text-align: center;
}
.topnav a{
    font-family: sans-serif; font-size: 4vw;
    text-align: center;
}

body{
    background-color: #D2F4EA;
}
html, body {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}