 .container-header {
    display: grid;
    grid-template-areas: top bottom;
    grid-template-rows: 1fr 0.5fr;
}
.container-body {
    display: grid;
    grid-template-areas: left center right;
    grid-template-columns: 1fr 2fr 1fr;
}
.container-footer {
    display: grid;
    grid-template-areas: top bottom;
    grid-template-rows: 0.5fr 0.5fr;
}

.container-header-sidesite {
    display: grid;
    grid-template-areas: top bottom;
    grid-template-rows: 4vw 2vw;
}

.container-body-sidesite {
    display: grid;
    grid-template-areas: left center right;
    grid-template-columns: 1.5vw 15vw 1.5vw;
}
header{
    text-align: center;

}
h1{
    text-align: center;
    font-family: sans-serif;
    font-size: 4.5vw;
    font-weight: bold;
}
h2{
    text-align: center;
    font-family: sans-serif;
    font-size: 3vw;
}
.homepagequestion {
    text-align: center;
    font-family: sans-serif;
    font-size: 2.5vw;
}
.topnav {
    max-width: 100%;
    background-position: center center;
    text-align: center;
}
.topnav a{
    font-family: sans-serif; font-size: 4vw;
    text-align: center;
}

body{
    margin: 0px;
    background-color: #D2F4EA;
}

#map {
    height: 100%;
  }  

@media screen and (max-width:600px){
    .topnav {
      width: 100%;
    }
}

